<mat-nav-list>
    <h2 matSubheader class="mt-2 the-text">Artemiz Admin</h2>
    <mat-divider>

    </mat-divider>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/news">
        <mat-icon>settings</mat-icon> General Settings
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/news">
        <mat-icon>edit</mat-icon> News
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/banner">
        <mat-icon>image</mat-icon> Banner
    </a>
    <a class="the-text" mat-list-item routerLinkActive="list-item-active" routerLink="/category">
        <mat-icon>category</mat-icon> Portfolio
    </a>
</mat-nav-list>