<h1 mat-dialog-title>{{ dialogName }} News</h1>
<mat-spinner *ngIf="spinnerService.visibility | async; else content"></mat-spinner>
<ng-template #content>
  <h4 *ngIf="isCompleted" style="color: rgb(36, 204, 92)">
    Upload completed, please refresh this page to see the changes
  </h4>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>News Title</mat-label>
      <input matInput [(ngModel)]="newsTitle" placeholder="Your news title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>News Content</mat-label>
      <textarea matInput rows="20" [(ngModel)]="article"></textarea>
    </mat-form-field>
    <div *ngIf="imageUrl !== ''; else uploadImage">
      <img [src]="imageUrl" width="20%">
      <div style="height: 12px;"></div>
      <div>
        <button (click)="uploadFile($event)" mat-flat-button color="primary">Pick Image</button>
      </div>
    </div>
    <ng-template #uploadImage>
      <mat-form-field>
        <div>
          <div style="color: grey;">Notes: upload an image that have 16:9 aspect ratio</div>
          <mat-toolbar>
            <input matInput [(ngModel)]="fileAttr" readonly name="name" />
            <button mat-flat-button color="primary">Pick Image</button>
          </mat-toolbar>
          <input type="file" #fileInput id="uploadFile" (change)="uploadFile($event)" name="uploadFile"
            multiple="multiple" accept="image/*" />
        </div>
      </mat-form-field>
    </ng-template>
  </mat-dialog-content>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="proccess()" cdkFocusInitial>
      {{primaryButtonText}}
    </button>
  </div>
</ng-template>